<div xmlns:th="http://www.thymeleaf.org"
     style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">
 
  <a th:href="@{/}">Sun Cream</a>
 
     | &nbsp;
 
   <a th:href="@{/suncream}">All Sun Cream</a>  
      | &nbsp;
     <a th:href="@{/addSunCream}">Add Sun Cream</a>
        | &nbsp;  
         <a th:href="@{/deleteSunCream}">Delete Sun Cream by name</a>
          | &nbsp;  
         <a th:href="@{/updatespf}">Update SPF</a>
            | &nbsp;  
            <a th:href="@{/lipstick}">Lipstick</a>
            | &nbsp;  
   
 
</div>